<footer class="mt-20 px-10 py-8 bg-gray-200">
    <div class="max-w-5xl mx-auto text-gray-700 text-center">
        © 2021 <a href="{{ '/' | url }}" class="font-medium" target="_blank" rel="noopener">{{ site.title }}</a>
    </div>
</footer>